<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>EjS Home Template</title>
</head>

<body>
    <h1>Dog Show Page</h1>
    The <%= oneDog.name %> is <%= oneDog.color %>. 
    <% if(oneDog.readyToEat === true){ %>
        <%= oneDog.name %> is ready To Eat
        <% }else{ %>
            Pup Not ready
   <% } %>
</body>

</html>